Qt/build-Gambit-Desktop_Qt_5_9_1_MinGW_32bit-Debug
Qt/build-Gambit-Desktop_Qt_5_9_1_MinGW_32bit-Release/release
Qt/build-Gambit-Desktop_Qt_5_9_1_MinGW_32bit-Release
Arduino/.vscode
Makefile.Release
Gambit.pro.user
